.container {
    box-sizing: border-box;
    padding: 40px;
}

.orderId {
    composes: text text_type_digits-default mb-10 from global;
    text-align: center;
}

.name {
    composes: text text_type_main-medium mb-3 from global;
}

.status {
    composes: text text_type_main-small mb-15 from global;
}