.container {
    box-sizing: border-box;
    padding: 40px;
    max-width: 720px;
}

.orderId {
    composes: text text_type_digits-default mb-10 from global;
    text-align: center;
}

.name {
    composes: text text_type_main-medium mb-3 from global;
}

.status {
    composes: text text_type_main-small mb-15 from global;
}

.ingredients {
    composes: mb-10 from global;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    width: 640px;
    max-height: 310px;
    padding-right: 24px;
    gap: 16px;
    overflow-y: scroll;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: thin;
}

.ingredient {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    width: 100%;
    height: 64px;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: 100%;
}

.imageContainer {
    composes: mr-4 from global;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid transparent;
    background: linear-gradient(to top, #1C1C21, #1C1C21) padding-box, linear-gradient(90deg, rgba(128, 26, 178, 1), rgba(76, 76, 255, 1)) border-box;
}

.image {
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
}

.price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}