.constructor {
    composes: ml-4 pt-25 from global;
    position: relative;
    width: 600px;
    box-sizing: border-box;
    max-height: 912px;
    box-sizing: border-box;
}

.top {
    composes: ml-8 from global;
    height: 96px;
}

.bottom {
    composes: ml-8 from global;
    height: 96px;
}

.items {
    max-height: 464px;
    overflow-y: scroll;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: thin;
}

.container {
    display: flex;
    flex-direction: row;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 32px;
}

.result {
    composes: mt-10 from global;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    bottom: 60px;
    right: 0;
}

.price {
    composes: mr-10 from global;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.priceCount {
    composes: text text_type_digits-medium mr-2 from global;
}