.burger-ingredients {
    width: 600px;
}

.burger-ingredients__tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 272px;
    height: 208px;
    border: 1px solid white;
    box-sizing: border-box;
    // margin-top: 32px;
}

.ingredient__image {
    width: 240px;
    height: 120px;
}

.ingredient__price-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.burger-ingredients__content {
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid white;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}