.ingredient {
    composes: mt-8 from global;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 272px;
    height: 208px;
    box-sizing: border-box;
}

.counter {
    position: absolute;
    top: 0;
    right: 0;
}

.image {
    width: 240px;
    height: 120px;
}

.priceData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {
    composes: text text_type_digits-default mr-2 mt-1 mb-1 from global;
}

.subheader {
    composes: text text_type_main-default from global;
}