.burger-ingredients {
    width: 600px;
    max-height: 912px;
}

.burger-ingredients__tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.burger-ingredients__content {
    max-height: 756px;
    padding-left: 16px;
    padding-right: 16px;
    overflow-y: scroll;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: thin;
}

.burger-ingredients__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}